body {
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}


.play-area {
  height: 100vh;
  width: 100vh;
  background-color: brown;
  display:flex;
  flex-wrap: wrap;
  border: 0.5vh black solid;
}

img {
  width: 7vh;
  height: 7vh;
}

.smard {
  height: 14vh;
  width: 7vh;
  background-color: black;
  border: 2px gray solid;
  margin:auto;
  display:flex;
  font-size:0;
}

.card:hover {
  height: 15vh;
  width: 8vh;
  transition: all 0.5s;
}

.background {
  z-index: -1;
  height: 110%;
  width: 100%;
  position: absolute;
}

.background-index {
  z-index: -1;
  height: 200%;
  width: 100%;
  position: absolute;
}

.title {
  font-size: 17vh;
  color: white;
  background-color: maroon;
  border: 2px white solid;
}

.instructions {
  height: 8vh;
  width: 40vh;
  background-color: maroon;
  position:absolute;
  top: 50%;
  left: 60%;
  border: 2px white solid;
  font-size: 3vh;
  color: white;
  text-align: center;
}

.match {
  height: 18vh;
  width: 40vh;
  background-color: green;
  border: 0.1vh black solid;
  position:absolute;
  top: 70%;
  font-size: 8vh;
  text-align: center;
}

.flipped {
  background-color: red;
} 

.console {
  height: 40vh;
  width: 70vh;
  background-color: green;
  position: absolute;
  top: 2%;
  text-align:center;
  font-size: 12vh;
  border: 0.1vh black solid;
}

.start {
  top: 50vh;
  left: 50vh;
  position: absolute;
  margin: auto;
  background-color: maroon;
  border: 2px white solid;
  height: 10vh;
  width: 30vh;
  font-size: 8vh;
  text-align: center;
  color: white;
  text-decoration: underline white;
}

.shuffle {
  background-color: green;
  height: 7vh;
  width: 15vh;
  position: absolute;
  top: 10%;
  left: 5%;
  border: 0.1vh black solid;
  text-align: center;
  font-size: 5vh;
}